*{ 
    margin: 0%; 
    padding: 0; 
    box-sizing: border-box; 
}
 
/* Basic styling */ 
body { 
    font-family: Arial, sans-serif; 
    background-color: #5d91d5; 
} 
 
header { 
    background-color: #b72793; 
    color: #951111; 
    padding: 15px 0; 
    text-align: center; 
} 
.left-align { 
    text-align: left; 
} 
h{ 
     
   
    font-size: 30px; 
    color: rgb(0, 0, 0); 
            
            font-weight: bold; 
} 
h1{ 
    font: optional; 
    background: rgb(19, 1, 81); 
    font-style: normal; 
    text-shadow: #333; 
    font-size: 50px; 
    color: rgb(146, 22, 22); 
            padding: 5px 15px; 
            border-color: blue; 
            border-width: 4px 4px; 
            font-weight: bold; 
} 
section{
    font: optional; 
    background: rgb(19, 1, 81); 
    font-style: normal; 
    text-shadow: #333; 
    font-size: 25px; 
    color: rgb(146, 22, 22); 
            
            border-color: blue; 
            border-width: 4px 4px; 
            font-weight: bold; 
}
nav ul { 
    list-style-type: none; 
} 
 
nav ul li { 
    display: inline; 
    margin: 0 20px; 
} 
 
.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #dadfe6; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 

 
 
 
section { 
    margin: 4px 0; 
    padding: 20px 0; 
    text-align: left; 
    text-shadow: #333; 
} 
 
form { 
    text-align: left; 
} 
 
form label, 
form input, 
form textarea, 
form button { 
    display: block; 
    margin-bottom: 10px; 
    width: 10%; 
} 
 
footer { 
    text-align: center; 
    padding: 20px 0; 
    background-color: #333; 
    color: #170c0c; 
}