.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: linear-gradient(
    205.7deg,
    rgba(156, 0, 195, 1) 0%,
    rgba(201, 28, 70, 1) 100%
  );
  width: 1600x;
  height: 2867px;
  position: relative;
  overflow: hidden;
}
.september-17-2023-19-02-hrs {
  color: #ffffff;
  text-align: center;
  font: 400 21px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 586px;
  top: 8px;
  width: 360px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #ffffff;
  width: 189px;
  height: 45px;
  position: absolute;
  left: 988px;
  top: 15px;
}
.english {
  color: #000000;
  text-align: left;
  font: 400 21px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 1010px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.polygon-1 {
  border-radius: 0px;
  position: absolute;
  left: 1127px;
  top: 30px;
  transform: translate(10.69px, -13.61px);
  overflow: visible;
}
.image-1 {
  width: 43px;
  height: 46px;
  position: absolute;
  left: 1219px;
  top: 14px;
}
.image-2 {
  width: 41.16px;
  height: 46px;
  position: absolute;
  left: 1284px;
  top: 14px;
}
.image-3 {
  border-radius: 4px;
  width: 43px;
  height: 45.39px;
  position: absolute;
  left: 1347px;
  top: 17px;
}
.rectangle-1 {
  background: #fdfdfd;
  width: 1440px;
  height: 121px;
  position: absolute;
  left: 0px;
  top: 79px;
  box-shadow: 0px 4px 5px 8px rgba(0, 0, 0, 0.25);
}
.image-4 {
  border-radius: 12px;
  width: 165px;
  height: 80px;
  position: absolute;
  left: 34px;
  top: 99px;
}
.apni-janta {
  color: #2153d3;
  text-align: left;
  font: 400 51px "jsMath-cmbx10", sans-serif;
  position: absolute;
  left: 219px;
  top: 79px;
  width: 536px;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-29 {
  position: absolute;
  inset: 0;
}
.rectangle-20 {
  background: #c5c5c5;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 191px;
  height: 55px;
  position: absolute;
  left: 659px;
  top: 118px;
}
.online-kyc {
  color: #000000;
  text-align: left;
  font: 700 19px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 690.36px;
  top: 139.27px;
  width: 145.39px;
  height: 12.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-30 {
  position: absolute;
  inset: 0;
}
.rectangle-202 {
  background: #c5c5c5;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 246px;
  height: 55px;
  position: absolute;
  left: 901px;
  top: 118px;
}
.government-query {
  color: #000000;
  text-align: left;
  font: 700 16px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 950px;
  top: 139.27px;
  width: 213px;
  height: 12.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-31 {
  position: absolute;
  inset: 0;
}
.rectangle-203 {
  background: #c5c5c5;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 217px;
  height: 55px;
  position: absolute;
  left: 1187px;
  top: 118px;
}
.legal-awareness {
  color: #000000;
  text-align: left;
  font: 700 17px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 1225px;
  top: 139px;
  width: 187.89px;
  height: 12.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.legal-awareness-portal {
  color: #ffffff;
  text-align: center;
  font: 400 50px "Jockey One", sans-serif;
  position: absolute;
  left: 392px;
  top: 200px;
  width: 795px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-14 {
  background: linear-gradient(
    240.56deg,
    rgba(159, 53, 30, 0.78) 0%,
    rgba(50, 80, 158, 0.78) 100%
  );
  width: 1440px;
  height: 243px;
  position: absolute;
  left: 0px;
  top: 288px;
}
.a-digital-assistance-for-legal-awareness-and-the-design-to-know-your-customer-kyc-framework-in-india-can-significantly-enchance-the-legal-landscape-and-financial-security-within-the-country {
  color: #ffffff;
  text-align: left;
  font: 700 38px "Inter", sans-serif;
  position: absolute;
  left: 60px;
  top: 334px;
  width: 1380px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-5 {
  width: 1440px;
  height: 343px;
  position: absolute;
  left: -10px;
  top: 575px;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.rectangle-13 {
  background: #d1fff4;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 277.27px;
  height: 122px;
  position: absolute;
  left: 43px;
  top: 590px;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.family-law {
  color: #000000;
  text-align: left;
  font: 700 28px "Inter", sans-serif;
  position: absolute;
  left: 90px;
  top: 609px;
  width: 197px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.rectangle-15 {
  background: #d9e499;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 333px;
  height: 122px;
  position: absolute;
  left: 544px;
  top: 590px;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.labours-law {
  color: #000000;
  text-align: center;
  font: 700 28px "Inter", sans-serif;
  position: absolute;
  left: 596px;
  top: 594px;
  width: 229px;
  height: 113.29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  background: #d1fff4;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 312px;
  height: 126px;
  position: absolute;
  left: 1004px;
  top: 586px;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.religious-law {
  color: #000000;
  text-align: left;
  font: 700 28px "Inter", sans-serif;
  position: absolute;
  left: 1045px;
  top: 605px;
  width: 230px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: #d9e499;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 277.72px;
  height: 122px;
  position: absolute;
  left: 43px;
  top: 771px;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.property-law {
  color: #000000;
  text-align: left;
  font: 700 28px "Inter", sans-serif;
  position: absolute;
  left: 74px;
  top: 821px;
  width: 228.59px;
  height: 22.59px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.rectangle-18 {
  background: #d1fff4;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 317.28px;
  height: 122px;
  position: absolute;
  left: 544px;
  top: 771px;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.criminal-law {
  color: #000000;
  text-align: left;
  font: 700 28px "Inter", sans-serif;
  position: absolute;
  left: 601px;
  top: 799px;
  width: 219px;
  height: 66.46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 273px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 1440px;
  height: 0px;
  position: absolute;
  left: 1px;
  top: 555px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-24 {
  position: absolute;
  inset: 0;
}
.rectangle-19 {
  background: #d9e499;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 312px;
  height: 122px;
  position: absolute;
  left: 1004px;
  top: 771px;
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.administrative-law {
  color: #000000;
  text-align: center;
  font: 700 28px "Inter", sans-serif;
  position: absolute;
  left: 1006.66px;
  top: 771px;
  width: 304.68px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.general-fa-qs-regarding-legal-awareness {
  color: #ffffff;
  text-align: center;
  font: 400 35px "Itim", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 170.44px;
  top: 945px;
  width: 1164.56px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.polygon-2 {
  position: absolute;
  left: 288.11px;
  top: 1006.37px;
  transform: translate(-14.05px, -65.37px);
  overflow: visible;
}
.group-33 {
  position: absolute;
  left: 151px;
  top: 1006px;
  overflow: visible;
}
.group-37 {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: #d9d9d9;
  border-radius: 13px;
  width: 464px;
  height: 45px;
  position: absolute;
  left: 946px;
  top: 2711px;
}
.contact-us {
  color: rgba(56, 52, 237, 0.83);
  text-align: center;
  font: 700 33px "Inknut Antiqua", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 1089px;
  top: 2719px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.q-why-legal-awareness-is-required {
  color: #000000;
  text-align: left;
  font: 700 35px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 170px;
  top: 1020px;
  width: 798px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.q-what-are-the-fundamental-rights-and-how-do-they-protect-citizen-in-our-country {
  color: #000000;
  text-align: left;
  font: 700 35px/58px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 170px;
  top: 1277px;
  width: 1138px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-fundamental-rights-in-many-countries-including-india-are-a-set-of-basic-liberties-and-privileges-guaranteed-to-citizens-by-the-constitution-in-india-these-rights-include-freedoms-like-the-right-to-equality-freedom-of-speech-and-expression-right-to-life-and-personal-liberty-and-more-they-protect-citizens-by-ensuring-that-the-government-cannot-infringe-upon-these-rights-arbitrarily-providing-a-legal-framework-for-citizens-to-seek-redressal-if-their-rights-are-violated {
  color: #000000;
  text-align: left;
  font: 400 26px/63px "Inter", sans-serif;
  position: absolute;
  left: 178px;
  top: 1434px;
  width: 1050px;
  height: 434px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.q-how-does-the-legal-system-handles-issues-like-discrimination-harrassment-and-human-rights-violations {
  color: #000000;
  text-align: left;
  font: 700 23px/47px "Inknut Antiqua", sans-serif;
  position: absolute;
  left: 180px;
  top: 1947px;
  width: 1098px;
  height: 110px;
}
.a-legal-remedies-may-include-compensation-injunctions-or-criminal-penalties-depending-on-the-severity-of-the-violation-and-the-specific-laws-in-place-additionally-many-countries-have-established-anti-discrimination-and-human-rights-commissions-to-investigate-complaints-and-promote-equal-treatment-under-the-law {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 173px;
  top: 2082px;
  width: 1111px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-legal-remedies-may-include-compensation-injunctions-or-criminal-penalties-depending-on-the-severity-of-the-violation-and-the-specific-laws-in-place-additionally-many-countries-have-established-anti-discrimination-and-human-rights-commissions-to-investigate-complaints-and-promote-equal-treatment-under-the-law-span {
  color: #000000;
  font: 400 33px/64px "Inter", sans-serif;
}
.a-legal-remedies-may-include-compensation-injunctions-or-criminal-penalties-depending-on-the-severity-of-the-violation-and-the-specific-laws-in-place-additionally-many-countries-have-established-anti-discrimination-and-human-rights-commissions-to-investigate-complaints-and-promote-equal-treatment-under-the-law-span2 {
  color: #000000;
  font: 400 29px/64px "Inter", sans-serif;
}
.a-it-promotes-a-just-and-fair-society-by-enabling-people-to-access-the-legal-system-seek-justice-and-prevent-potential-legal-issues {
  color: #000000;
  text-align: left;
  font: 400 26px/65px "Inter", sans-serif;
  position: absolute;
  left: 180px;
  top: 1095px;
  width: 1072px;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#legal{
  background: linear-gradient(
    243.98deg,
    rgb(122, 67, 163) 0.5208333488553762%,
    rgb(245, 157, 194) 88.02083134651184%,
    rgba(188, 0, 90, 0.2) 99.98999834060669%
  );
  width: 1700px;
  height: 300px;
  position: relative;
  overflow: hidden;
  font-size: 31px;
  background-color: #de1167;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}
